<h1><%= @artist.name %></h1>

<h3>Songs</h3>
<ul>
  <% @artist.songs.each do |song| %>
	<li>
	  <a href='/songs/<%= song.name.gsub(" ", "%20") %>'><%= song.name %></a>
	</li>
  <% end %>
</ul>

<h3>Genres</h3>
<ul>
  <% @artist.songs.each do |song| %>
	<li>
	  <a href='/genres/<%= song.genre.name %>'><%= song.genre.name %></a>
	</li>
  <% end %>
</ul>



