<h2><%= @artist.name %></h2>
<br />
<ul>
  <% @artist.songs.each do |song| %>
	<li>
	  <a href='/songs/<%= song.name.gsub(" ", "%20") %>'><%= song.name %></a> (<a href='/genres/<%= song.genre.name %>'><%= song.genre.name.capitalize %></a>)
	</li>
  <% end %>
</ul>
