<h1><%=@genre.name %></h1>

<h3>Songs</h3>
<ul>
  <% @genre.songs.each do |song| %>
	<li>
	  <a href='/songs/<%=song.name.gsub(" ", "%20")%>'><%=song.name %></a>
	</li>
  <% end %>
</ul>

<h3>Artists</h3>
<ul>
  <% @genre.songs.each do |song| %>
	<li>
	  <a href='/artist/<%=song.artist.name.gsub(" ", "%20")%>'><%=song.artist.name %></a>
	</li>
  <% end %>
</ul>

