<h2><%= @genre.name.capitalize %></h2>
<br />
<div class="list">
  <% @genre.songs.each do |song| %>
	<p>
	  <a href='/artists/<%= song.artist.name.gsub(" ", "%20") %>'><%= song.artist.name %></a> - <a href='/songs/<%= song.name.gsub(" ", "%20") %>'><%= song.name %></a>
	</p>
  <% end %>
</div>
